dash==2.18.2
dash_bootstrap_components==1.6.0
dash_extensions==1.0.19
fastapi==0.115.5
Flask==2.2.5
langchain==0.3.8
langchain_cohere==0.3.3
langchain_core==0.3.21
langgraph==0.2.53
matplotlib==3.8.0
pandas==2.2.3
Pillow==11.0.0
pydantic==1.10.12
python-dotenv==1.0.1
Requests==2.32.3
typing_extensions==4.12.2
websocket_client==0.58.0
websocket_client==1.8.0
yfinance==0.2.50
